.hello-world-button {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  background: #f895b3;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

.hello-world-text {
  font-size: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}
